.about-summary {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.about-summary-text {
   display: flex;
   align-items: center;
   padding-top: 32px;
}

.about-summary-image-container {
    grid-area: unset;
    position: relative;
    width: 100%;
    height: 100vw;
}

.about-summary-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.about-summary-image-blur {
    position: absolute;
    filter: blur(8px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

@media (min-width: 640px) {
    .about-summary {
        height: 500px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 48px;
        grid-row-gap: 0px;
    }

    .about-summary-text {
        grid-area: 1 / 1 / 2 / 2;
        padding-top: 0px;
     }

    .about-summary-image-container {
        grid-area: 1 / 2 / 2 / 3;
        height: 100%;
    }
}

@media (min-width: 1024px) {
    .about-summary {
        height: 500px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 48px;
        grid-row-gap: 0px;
    }

    .about-summary-text {
        grid-area: 1 / 1 / 2 / 4;
        padding-bottom: 0px;
     }

    .about-summary-image-container {
        grid-area: 1 / 4 / 2 / 6;
        height: 100%;
    }
}